<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJS Server" stopProcessing="true">
          <match url="server.js" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="API Requests" stopProcessing="true">
          <match url="send-email" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="*" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
