<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode node_env="production">
      <environmentVariables>
        <add name="CAPTCHA_SECRET_KEY" value="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" />
      </environmentVariables>
    </iisnode>

    <rewrite>
      <rules>
        <rule name="NodeJS Server" stopProcessing="true">
          <match url="^server\.js$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <rule name="API Requests" stopProcessing="true">
          <match url="^send-email(-sms)?(/.*)?$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <rule name="Angular Files" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="Angular Directories" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <verbs>
          <add verb="*" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
